<h1><%= @event.title %></h1>
<p>
  <%= @event.description %>
  <span><%= @event.created_at %></span>
</p>
<%= link_to event_path(@event), class: "btn btn-block btn-lg btn-primary", remote: true do %>
  参加
<% end %>

