<h1><%= @event.title %></h1>
<p>
  <%= @event.description %>
  <span><%= @event.created_at %></span>
</p>
<%= link_to event_path(@event), class: "btn btn-block btn-lg btn-primary", remote: true do %>
  参加
<% end %>

<ul class="event-items">
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
</ul>

