<h1>projects</h1>
<ul>
  <% @projects.each_with_index do |hoge| %>
    <li><%= link_to hoge.title, project_path(hoge.id) %>
    <%= link_to '[Edit]', edit_project_path(hoge.id) %></li>
  <% end %>
</ul>
<p>
  <%= link_to "Add New", new_project_path %>
</p>

